html,body{
    height: 100%;
    width: 100%;
}
.button{
    width: 60px;
    padding: 20px;
    margin: 0px 3px;
    border: 2px solid black;
    border-radius: 7px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
}
.row input{
    height: 50px;
    width: 270px;
    font-size: 2rem;
    border: 3px solid rebeccapurple;
}