.text-center{
    text-align: center;
}
.bg-col{
    background-color: aqua;
}
.mx-auto{
    margin:auto;
}
.m-w-20{
    max-width: 30vw;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.heading{
    background-color: gray;
}
body{
    background-color: aquamarine;
}